{% assign interest_blocks = site.data.data.sidebar.interests %}
{% for block in interest_blocks %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    {{ block.title }}
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in block.info %}

      {% if interest.link %}
      <li><a href="{{ interest.link }}">{{ interest.item }}</a></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endfor %}
